/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  margin: 6rem auto;
  max-width: 80%;
  background-color: white;
  min-height: 60rem; }

.header {
  background-color: white;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem; }

.content {
  display: flex; }

.nav {
  background-color: orangered;
  flex: 0 0 18%; }

.hotel {
  background: blue;
  flex: 1; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--Grey-light-2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--Grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--Grey-light-4); }
  .search__button {
    border: none;
    background-color: var(--Grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--Grey-dark-3); }

.user-nav {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--Grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--Grey-dark-2); }
  .user-nav__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }
