/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }
