/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/
:root {
  --primary: #eb2f64;
  --primary-light: #FF3366;
  --primary-dark: #BA265D;
  --Grey-light-1: #faf9f9;
  --Grey-light-2: #f4f2f2;
  --Grey-light-3: #f0eeee;
  --Grey-light-4: #ccc;
  --Grey-dark-1: #333;
  --Grey-dark-2: #777;
  --Grey-dark-3: #999; }

*,
*::after,
*::before {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: linear-gradient(to right bottom, var(--primary-light), var(--primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6; }

.container {
  margin: 6rem auto;
  max-width: 80%;
  background-color: white;
  min-height: 60rem; }

.header {
  background-color: white;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  border-bottom: 1px solid var(--Grey-light-3); }

.content {
  display: flex; }

.sidebar {
  background-color: var(--Grey-dark-1);
  flex: 0 0 18%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.hotel-view {
  flex: 1;
  height: 80rem; }

.logo {
  height: 3.25rem;
  margin-left: 2rem; }

.search {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: var(--Grey-light-2);
    border: none;
    color: inherit;
    padding: .7rem 2rem;
    border-radius: 100px;
    width: 90%;
    transition: all 0.3s;
    margin-right: -3.25rem; }
    .search__input:focus {
      outline: none;
      width: 100%;
      background-color: var(--Grey-light-3); }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--Grey-light-4); }
  .search__button {
    border: none;
    background-color: var(--Grey-light-2); }
    .search__button:focus {
      outline: none; }
    .search__button:active {
      transform: translateY(2rem); }
  .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--Grey-dark-3); }

.user-nav {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center; }
  .user-nav > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center; }
  .user-nav > *:hover {
    background-color: var(--Grey-light-2); }
  .user-nav__icon-box {
    position: relative; }
  .user-nav__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--Grey-dark-2); }
  .user-nav__notification {
    font-size: 1rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .user-nav__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem; }

.side-nav {
  font-size: 1.4rem;
  list-style: none;
  margin-top: 3.5rem; }
  .side-nav__item {
    position: relative; }
    .side-nav__item:not(:last-child) {
      margin-bottom: .5rem; }
  .side-nav__item:active::before {
    background-color: var(--primary-light); }
  .side-nav__item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 3px;
    background-color: var(--primary);
    transform: scaleY(0);
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s; }
  .side-nav__item:hover::before, .side-nav__item--active::before {
    transform: scaleY(1);
    width: 100%; }
  .side-nav__link:link, .side-nav__link:visited {
    color: var(--Grey-light-1);
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    z-index: 10;
    position: relative; }
  .side-nav__icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 2rem;
    fill: currentColor; }

.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--Grey-light-4); }

.gallery {
  display: flex; }
  .gallery__photo {
    width: 100%;
    display: block; }

.overview {
  border-bottom: 1px solid var(--Grey-light-3);
  display: flex;
  align-items: center; }
  .overview__heading {
    font-family: inherit;
    font-weight: 400;
    padding: 2rem;
    color: var(--Grey-dark-2);
    text-transform: uppercase; }
  .overview__rating {
    margin-left: 2rem;
    background-color: var(--primary);
    font-family: inherit;
    font-weight: 400;
    color: white;
    padding: 0 2.25rem;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .overview__rating-count {
    text-transform: uppercase; }
  .overview__rating-average {
    font-size: 1.7rem; }
  .overview__stars {
    margin-right: auto;
    display: flex;
    margin-left: 1rem; }
  .overview__icon-star {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--primary); }
  .overview__location {
    display: flex;
    align-items: center;
    justify-content: center; }
  .overview__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--primary); }

.btn-inline {
  border: none;
  background-color: transparent;
  color: var(--primary);
  border-bottom: 1px solid currentColor;
  padding: 0.5rem;
  cursor: pointer;
  transition: all 0.2s; }
  .btn-inline:hover {
    background-color: var(--Grey-light-2); }
  .btn-inline:focus {
    animation: bigsmall 1s infinite; }

@keyframes bigsmall {
  0% {
    box-shadow: 0rem 0rem var(--Grey-dark-1);
    transform: scale(1); }
  50% {
    box-shadow: 0.4rem 0.3rem var(--Grey-dark-1);
    transform: scale(1.05); }
  100% {
    box-shadow: 0rem 0rem var(--Grey-dark-1);
    transform: scale(1); } }
