////////////////////////////////
// lOGO

.logo{
    height: 3.25rem;
    margin-left: 2rem;
}

///////////////////////////////
// SEARCH


.search{
    flex: 0 0 40%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__input{
        font-family: inherit;
        font-size: inherit;
        background-color: var(--Grey-light-2);
        border: none;
        color: inherit;
        padding: .7rem 2rem;
        border-radius: 100px; 
        width: 90%;  
        transition: all 0.3s;
        margin-right: -3.25rem;

        &:focus{
            outline: none;
            width: 100%;
            background-color: var(--Grey-light-3);
        }


        &::-webkit-input-placeholder{
            font-weight: 100;
            color: var(--Grey-light-4);
        }
    }


    &__button{
        border: none;
        background-color: var(--Grey-light-2);
        &:focus{
            outline: none;
            
        }

        &:active{
            transform: translateY(2rem);
        }




    }

    &__icon{
        height: 2rem;
        width: 2rem;
        fill: var(--Grey-dark-3);
    }
}


/////////////////////////////
// USER NAV


.user-nav{
    align-self: stretch;
    position: relative;
    
    display: flex;
    align-items: center;
    

    & > *{
        padding: 0 2rem;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
    }

    & > *:hover{
       background-color: var(--Grey-light-2);
    }

    &__icon-box{
        position: relative;
       
    }


    &__icon{
        height: 2.25rem;
        width: 2.25rem;
        fill: var(--Grey-dark-2);
    }


    &__notification{
        font-size: 1rem;
        height: 1.75rem;
        width: 1.75rem;
        border-radius: 50%;
        background-color: var( --primary);
        color: white;
        position: absolute;
        top: 1.5rem;
        right: 1.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    &__user-photo{
        height: 3.75rem;
        border-radius: 50%;
        margin-right: 1rem;

    }

    &__user-name{

    }
}

/////////////////////////////////////
// SIDE NAV 

.side-nav{
    font-size: 1.4rem;
    list-style: none;
    margin-top: 3.5rem;

    &__item{
        position: relative;
        &:not(:last-child){
            margin-bottom: .5rem;
        }
    }

    &__item:active::before{
        background-color: var(--primary-light);
        
    }


    &__item::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: var( --primary);
        transform: scaleY(0);
        transition: transform 0.2s, width .4s cubic-bezier(1,0,0,1) .2s, background-color 0.1s;
        
    }

    &__item:hover::before,
    &__item--active::before{
      transform: scaleY(1);
      width: 100%;
    }


    &__link{

    }

    &__link:link,
    &__link:visited{
        color: var(--Grey-light-1);
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        padding: 1.5rem 3rem;
        display: flex;
        align-items: center;
        z-index: 10;
        position: relative;
    }

    &__icon{
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 2rem;
        fill: currentColor;
    }



}

////////////////////////////////////
// LEGAL TEXT
.legal{
    font-size: 1.2rem;
    text-align: center;
    padding: 2.5rem;
    color: var(--Grey-light-4);

}

////////////////////////////////////////
// GALLERY

.gallery{

    display: flex;
    &__item{

    }
    
    
    &__photo{
    width: 100%;
    display: block;// to avoid white space under the picture;
        

    }


}

.overview{
    border-bottom: 1px solid var(--Grey-light-3);
    

    display: flex;
    align-items: center;

    &__heading{
        font-family: inherit;
        font-weight: 400;
        padding: 2rem;
        color: var(--Grey-dark-2);
        text-transform: uppercase;
        
    }

    &__rating{
        margin-left: 2rem;
        background-color: var(--primary);
        font-family: inherit;
        font-weight: 400;
        color: white;
        padding: 0 2.25rem;
        display:flex;
        align-self: stretch;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    &__rating-count{
        text-transform: uppercase;
    }
    &__rating-average{
        font-size: 1.7rem;

    }

    &__stars{
        margin-right: auto;
        display: flex;
        margin-left: 1rem;
    }

    &__icon-star{
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--primary);
    }

    &__location{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__icon-location{
        height: 1.75rem;
        width: 1.75rem;
        fill: var(--primary);
    }
}

//////////////////////////////////
// BUTTON INLINE 


.btn-inline{
    border: none;
    background-color: transparent;
    color: var(--primary);
    border-bottom: 1px solid currentColor;
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
    & span {
        font-size: 2rem;
        margin-left: 1px;
        transition: margin-left 0.2s;
    }


    &:hover{
        background-color: var(--Grey-light-2);

        & span{
            margin-left: 8px;
        }
    }

    &:focus{

        animation: bigsmall 1s infinite;
    }
}


@keyframes bigsmall{
    0% {
        box-shadow: 0rem 0rem var(--Grey-dark-1);
        transform: scale(1);
    }

    50% {
        box-shadow: 0.4rem 0.3rem var(--Grey-dark-1);
        transform: scale(1.05);
    }

    100% {
        box-shadow: 0rem 0rem var(--Grey-dark-1);
        transform: scale(1);
    }
}

//////////////////////////////////
// BUTTON INLINE 


.paragraph{
    padding: 2rem;
    color: var(--Grey-dark-2);
}

.list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;

}

.list-item{
    color: var(--Grey-dark-2);    
    flex: 0 0 50%;

    &::before{
        content: '';
        height: 1rem;
        width: 1rem;
        background-color: var(--primary); 
        display: inline-block;
        margin-right: 0.7rem;
        -webkit-mask-image: url(../img/SVG/chevron-thin-right.svg);
        -webkit-mask-size: cover;


    }
    
}





.recommended{
    padding-top: 3rem;
    display: flex;
    align-items: center;
    
    &__photo{
        border-radius: 50%;
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: (-1.5rem);
        border: 3px solid white;
        box-sizing: content-box;
    }
    &__count{
        margin-right: auto;
        font-size: 1.4rem;
    }


    &__friends{

    }
}



//////////////////////////////////
// review

.review{
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.06);
    
    padding: 3rem;
    background-color: white;
    margin-bottom: 3.5rem;
    position: relative;

    &__text{
        position: relative;
        z-index: 10;
    }

    &__user{
        display: flex;
        padding: 0.7rem 0rem;
        align-items: center;
    }

    &__photo{
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 50%;
        
    }

    &__user-box{
        margin-left: 1rem;
        display: inline;
        margin-right: auto;
    }

    &__user-name{
        font-size: 1.1rem;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0.4rem;
    }

    &__user-date{
        font-size: 1rem;
        color: var(--Grey-dark-2);
        
    }
    &__rating{
        font-weight: 100;
        color: var(--primary);
        font-size: 2rem;
    }

    // "\201C";

    &::before{
        content: "\201C";
        position: absolute;
        left: -0.7rem;
        top: -7.75rem;
        font-size: 17rem;
        font-family: sans-serif;
        color: var(--Grey-light-2);
        z-index: 1;

    }
}


.cta{
    text-align: center;
    padding: 3rem;
    text-transform: uppercase;

    
    &__book-now{
        font-weight: 400;
        font-size: 1.9;
        margin-bottom: 2rem;
    }



}

.btn{
    border: none;
    background-image: linear-gradient(to right, var(--primary-light), var(--primary-dark));
    border-radius: 100px;
    color: white;
    position: relative;
    overflow: hidden;
    text-transform: uppercase;

  

    &__visible{
        display: inline-block;
        padding: 2rem 5rem;
        transition: all .2s;
        

    }

    &__invisble{
        display: inline-block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: -4rem;
        left: 0;
        transition: all .2s;
        
    }

    &:hover {
    background-image: linear-gradient(to left, var(--primary-light), var(--primary-dark));

        
    }

    &:hover &__visible{

        transform: translateY(4rem);
    }


     &:hover &__invisble{
        height: 100%;
        width: 100%;
        top: 2rem;
    }

    &:focus{
        animation: bigsmall 1s infinite;
    }
}