.container{
    margin: 6rem auto;
    max-width: 80%;
    background-color: white;
    min-height: 60rem;
}

.header{
    background-color: white;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.4rem;
    border-bottom: 1px solid var(--Grey-light-3);
    
}

.content{
    display: flex;
    color: var(--Grey-dark-2);    
    
}

.sidebar{
//height: 40rem;
background-color: var(--Grey-dark-1);
flex: 0 0 18%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.hotel-view{
    flex: 1;
    
    
}

.detail{
    font-size: 1.4rem;
    
    display: flex;
    padding: 4.5rem;
    background-color: var(--Grey-light-1);
    border-bottom: 1px solid var(--Grey-light-3);
    
}

.discription{
    flex: 0 0 60%;
    background-color: white;
    margin-right: 4.5rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.06);
    padding: 3rem;
    font-family: inherit;
}

.user-reviews{
    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
}

