.container{
    margin: 6rem auto;
    max-width: 80%;
    background-color: white;
    min-height: 60rem;
}

.header{
    background-color: white;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.4rem;
    
}

.content{
    display: flex;
}

.sidebar{
//height: 40rem;
background-color: var(--Grey-dark-1);
flex: 0 0 18%;
display: flex;
flex-direction: column;
justify-content: space-between;
}

.hotel{
    background: blue;
    flex: 1;


    height: 80rem;
}